{% if content %}
  <div class="layout layout-twocol-section uk-child-width-1-2@m" uk-grid>

    {% if content.first %}
      <div {{ region_attributes.first.addClass('layout-region') }}>
        {{ content.first }}
      </div>
    {% endif %}

    {% if content.second %}
      <div {{ region_attributes.second.addClass('layout-region') }}>
        {{ content.second }}
      </div>
    {% endif %}

  </div>
{% endif %}
