main {
  margin-bottom: 7.5rem;
}

.uk-container {
  padding-left: 3rem;
  padding-right: 3rem;
}

.uk-grid {
  margin-left: -3rem;
}

.uk-grid > * {
  padding-left: 3rem;
}

.layout {
  //margin-bottom: 3rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.layout .paragraph {
  margin-bottom: 3rem;
}

.layout .text {
  //margin-left: 5rem;
  //margin-right: 5rem;
  p:last-child {
    margin-bottom: 0;
  }
}

.layout .document {
  margin: 0 5rem;
}