$red: #dd0202;
$dark-red: #990000;
$red-gradient: linear-gradient(180deg, rgba(255, 0, 0, 0.86), rgba(255, 0, 0, 0.86));
$light-gray: #888888;
$mid-gray: #666666;
$dark-gray: #444444;
$black: #111111;
$white: #ffffff;
$transition: all 0.25s ease;