$red: #dd0202;
$dark-red: #990000;
$red-gradient: linear-gradient(180deg, rgba(255, 0, 0, 0.86), rgba(255, 0, 0, 0.86));
$gray-8: #888888;
$gray-6: #666666;
$gray-4: #444444;
$gray-3: #333333;
$gray-2: #222222;
$black: #111111;
$white: #ffffff;
$transition: all 0.25s ease;