@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import "layout";
@import "variables";

* {
  box-sizing: border-box;
  transition: $transition;
}

html {
  font-size: 10px;
}

body {
  background: $black;
  margin: 0;
  color: $gray-8;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-weight: 500;
}

h1 {
	padding-right: 10px;
	border-right: 6px solid #c00;
  color: $gray-8;
  font-family: Montserrat;
	font-size: 32px;
	line-height: 48px;
	font-weight: 500;
	text-align: right;
	text-transform: uppercase;
}

a {
  color: $red;
  text-decoration: none;
  &:hover {
    color: $dark-red;
    text-decoration: none;
  }
}

img {
  width: 100%;
  height: auto;
}

ol, ul {
  margin: 0;
  padding: 0;
}

@import "region/header";
@import "region/footer";
@import "section/section-page-title";
@import "section/section-project-header";
@import "section/section-project-content";