<div class="title">{{ fields.title.content }}</div>
<div class="statement"><span uk-icon="quote-right"></span>{{ fields.field_testimonial_statement.content }}</div>
<div class="name-role"><span uk-icon="user"></span>{{ fields.field_testimonial_name_and_role.content }}</div>