{%
  set classes = [
    'image',
    'paragraph'
  ]
%}
{% block paragraph %}
  {% block content %}
    <div{{ attributes.addClass(classes) }}>
      {{ content }}
    </div>
  {% endblock %}
{% endblock paragraph %}