.section-media {
  margin-top: 7.5rem;
}

.media-item {
  display: flex;
  flex-flow: column;
}

.media-item-content {
  width: 100%;
  flex: 1 0;
  .image {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .embed {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    iframe {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.media-item-description {
  background: $black;
  padding: 1.2rem;
  border-top: 0.6rem solid $red;
  font-size: 1.4rem;
  flex: 1 0;
  p {
    margin: 0;
  }
}


// TESTIMONIALS

.testimonials {
  
    background-image: linear-gradient($gray-2 33%, rgba(255,255,255,0) 0%);
    background-size: 1px 9px;
    background-position: right;
    background-repeat: repeat-y;

  padding-right: 3rem;
  position: relative;
  h2 {
    position: absolute;
    top: 16rem;
    left: -20rem;
    font-size: 5rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(-90deg);
    opacity: 0.25;
  }
}
.testimonial {
  margin-bottom: 3rem;
  .title {
    font-size: 1.6rem;
    text-transform: uppercase;
  }
  .statement {
    font-size: 1.4rem;
    color: $gray-8;
    font-weight: 500;
    margin-top: 1.5rem;
    position: relative;
    p {
      margin-bottom: 1rem;
    }
    .uk-icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      svg {
        width: 100rem;
        color: $gray-4;
        opacity: 0.25;
      }
    }
  }
  .name-role {
    font-size: 1.4rem;
    font-style: italic;
    color: $gray-4;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    svg {
      width: 1.4rem;
      margin-right: 1rem;
      circle, path {
        stroke-width: 1.8;
      }
    }
  }
}