.section-project-header {
  background: $gray-2;
  padding: 7.5rem 0;
}

.project-header {
  display: flex;
}

.project-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 20%;
}

.project-info-subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: $gray-4;
}

.project-info-location {
  font-size: 3.6rem;
  font-weight: 700;
}

.project-slider {
  margin: 0 5%;
  width: 40%;

  .uk-slidenav {
		svg {
			width: 1.75rem;
      transition: $transition;
			polyline {
				stroke-width: 0.2rem;
				stroke: rgba($white, 0.75) !important;
			}
		}
		&:hover {
			svg {
				scale: 1.25;
				polyline {
					stroke: rgba($white, 1) !important;
				}
			}
		}
	}

	.uk-slideshow {
		position: relative;
		.uk-dotnav {
			position: absolute;
			z-index: 100;
			bottom: -3rem;
			left: 50%;
			transform: translateX(-50%);
			li {
				a {
					background: rgba($white, 0.5);
					border: 0;
					width: 1.5rem;
					height: 1.5rem;
					&:hover {
						background: rgba($white, 0.8);
					}
				}
				&.uk-active {
					a {
						background: rgba($red, 0.5);
					}
				}
			}
		}
	}
}

.project-description {
  display: flex;
  align-items: center;
  width: 40%;
  text-align: justify;
}

@media screen and (max-width: 1200px) {
  .project-header {
    flex-direction: column;
  }

  .project-info, .project-slider, .project-description {
    width: 100%;
  }

  .project-slider {
    margin: 3rem 0 5rem 0;
  }
}