.projects-slider {
	&:hover {
		.project-text {
			opacity: 1;
			transform: scale(1.1);
		}
	}

	.project-item-link {
		display: flex;
		width: 100%;
		height: 100%;
		justify-content: center;
		align-items: center;
	}

	.project-text {
		z-index: 100;
		width: 75%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		opacity: 0.85;
		transition: $transition;
	}

	.project-item-title-wrapper {
		width: 100%;
		text-align: center;
		padding: 2rem 0;
		background-color: rgba($black, 0.85);
		margin-bottom: 1rem;
	}

	.project-item-title {
		color: rgba($white, 0.85);
		font-size: 6rem;
		line-height: 2.8rem;
		font-weight: 600;
		text-transform: uppercase;
	}
	
	.project-item-info {
		display: flex;
	}

	.project-item-location {
		display: inline-block;
		padding: 0.6rem 1.2rem;
		background-color: $red;
		color: rgba($white, 0.85);
		font-size: 2.4rem;
		font-weight: 600;
	}

	.project-item-date {
		padding: 6px 12px;
		background-color: $black;
		color: rgba($white, 0.85);
		font-size: 2.4rem;
	}

	.project-item-image {
		position: absolute;
	}

	.uk-slidenav {
		svg {
			width: 2.5rem;
			transition: $transition;
			polyline {
				stroke-width: 0.25rem;
				stroke: rgba($white, 0.75) !important;
			}
		}
		&:hover {
			svg {
				scale: 1.1;
				polyline {
					stroke: rgba($white, 1) !important;
				}
			}
		}
	}

	.uk-slideshow {
		position: relative;
		.uk-dotnav {
			position: absolute;
			z-index: 100;
			bottom: 3rem;
			left: 50%;
			transform: translateX(-50%);
			li {
				a {
					background: rgba($white, 0.5);
					border: 0;
					width: 2rem;
					height: 2rem;
					&:hover {
						background: rgba($white, 0.8);
					}
				}
				&.uk-active {
					a {
						background: rgba($red, 0.5);
					}
				}
			}
		}
	}

}

@media screen and (max-width: 1200px) {

	.projects-slider {
		.uk-slideshow-items{
			height: 50vw;
		}
		.project-item-link {
			align-items: flex-end;
		}
		.project-item-title {
			font-size: 6vw;
		}
		.project-text {
			width: 100%;
			.project-item-title-wrapper {
				margin-bottom: 0;
			}
			.project-item-location, .project-item-date {
				font-size: 3vw;
			}
		}
		.uk-slidenav svg {
			width: 3vw;
		}
		.uk-slideshow {
			.uk-dotnav {
				bottom: -3rem;
			}
		}
	}
}