.section-project-content {
  padding-top: 7.5rem;

  .layout {
    margin-bottom: 3rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.layout-text-content{
  margin: 0 5%;
  p:last-child {
    margin-bottom: 0;
  }
}