footer {
  background: $dark-gray;
  padding: 30px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3rem;
}

.copyright {
  color: $mid-gray;
}

.sm-links {
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  li {
    margin-left: 15px;
  }
  a {
    color: $light-gray;
    opacity: 0.6;
    text-transform: uppercase;
    &:hover {
      color: $mid-gray;
      opacity: 0.9;
    }
  }
}