  <header role="banner">
    <div class="container header-container">
      <a href="{{ path('<front>') }}" rel="home" class="bricks-logo">
        <img src="/{{ directory }}/images/bricks-logo.png" alt="Bricks Project"/>
      </a>
      {{ bricks_main_menu }}
    </div>
  </header>


