 <footer role="contentinfo">
    <div class="footer-container uk-container">
      <div class="social-enterprise">
        <img src="/{{ directory }}/images/social-enterprise-logo.png" alt="">
      </div>
      <div class="copyright">
        Brick Project Community Interest Company © Company No: 12212500
      </div>
      <div class="sm-links">
        <ul>
          <li><a href="https://www.facebook.com/brickprojectuk" target="_blank">Facebook</a></li>
          <li><a href="https://twitter.com/brickprojectuk" target="_blank">Twitter</a></li>
          <li><a href="https://www.instagram.com/dan.petley" target="_blank">Instagram</a></li>
          <li><a href="https://www.patreon.com/brick_project" target="_blank">Patreon</a></li>
        </ul>
      </div>
    </div>
  </footer>