<div class="brick">
  <div class="brick-info">
    <div class="brick-title">{{ content.field_brick_title }}</div>
    <div class="brick-artist">{{ content.field_brick_artist }}</div>
  </div>
  <div class="brick-photo">{{ content.field_media_image }}</div>
</div>