{% block content %}
<article{{ attributes }}>
  <section class="section-media">
    <div class="uk-container">
      <div class="section-wrapper" uk-grid>
        {{ testimonials }}
        <div class="media-items uk-width-2-3@m uk-child-width-1-2@m" uk-grid>{{ brick_media_items }}</div>
      </div>
    </div>
  </section>
  {% if content.body|render|striptags is not empty %}
    <section class="section-content">
      <div class="uk-container">
        {{ content.body }}
      </div>
    </section>
  {% endif %}
</article>
{% endblock %}