{% block content %}
  {% if content.body|render|striptags is not empty %}
    <article{{ attributes }}>
      <section class="section-content">
        <div class="uk-container">
        {{ content.body }}
        </div>
      </section>
    </article>
  {% endif %}
{% endblock %}