{% if breadcrumb %}
  <nav role="navigation" aria-labelledby="system-breadcrumb">
    <h2 id="system-breadcrumb" class="visually-hidden">{{ 'Breadcrumb'|t }}</h2>
    <ul>
      <li uk-icon="icon: chevron-right">
        <a href="/">Home</a>
      </li>
      {% for item in breadcrumb %}
          {% if item.url %}
            <li class="current" uk-icon="icon: chevron-right">
              <a href="{{ item.url }}">{{ item.text }}</a>
            </li>
          {% else %}
            <li>{{ item.text }}</li>
          {% endif %}
      {% endfor %}
    </ul>
  </nav>
{% endif %}
